@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Inter", serif;
}
.container{
    max-width: 1519px;
    margin: 0 auto;
    padding: 0 100px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flexs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-colm{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.d-colm1{
    display: flex;
    flex-direction: column;
}
.gap{
    gap: 45px;
}
.gap1{
    gap: 18px;
}
.ong{
    margin-top: 140px;
    width: 50%;
    h1{
        font-size: 78px;
        font-family: "Inter", serif;
        font-weight: 600;
    }
    p{
        padding-top: 40px;
        font-size: 28px;
        font-family: "Inter", serif;
        font-weight: 400;
        padding-right: 80px; 
    }
    button{
        width: 200px;
        height: 66px;
        padding: 20px 25px;
        gap: 10px;
        border-radius: 40px;
        background-color: #333333;
        color: aliceblue;
        font-size: 18px;
        font-family: "Inter", serif;
        border: none;
        transition: 0.6s;
        margin-top: 30px;
        cursor: pointer;
    }
    button:hover{
        background-color: white;
        border: 1px solid #132f54;
        color: #333333;
        scale: 1.2;
        transition: 0.6s;
        transform: rotate(-20deg);
        box-shadow: 0 1px 10px #132f54;

    }
}
.asab{
    margin-top: 50px;
    .yz{
        span{
            font-size: 24px;
            font-weight: 500;
        }
    }
    img{
        transition: 0.6s;
    }
    img:hover{
        scale: 1.2;
        transition: 0.6s;
        transform: translateY(-40px);
    }
}
.cont1{
    margin-top: 140px;
    margin-bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
    .sem{
        width: 328px;
        background-image: url('./svg/as.svg');
        height: 283px;
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: center;
            color: aliceblue;
            padding: 230px 30px ;
        }
    }
    .sem1{
        width: 328px;
        height: 283px;
        background-image: url('./asa.svg');
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: center;
            color: aliceblue;
            padding: 230px 30px ;
        }
    }
    .sem2{

        width: 328px;
        height: 283px;

        background-image: url('./svg/gdbd.svg');
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: center;
            color: aliceblue;
            padding: 230px 30px ;
        }
    }
    .sem3{
        
        width: 328px;
        height: 283px;
        background-image: url('./svg/jbjb.svg');
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: center;
            color: aliceblue;
            padding: 230px 30px ;
        }
    }
}
@media (max-width: 1470px) {
    .container{
        padding: 0 20px;
    }
    .cont1{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
    }   
    .cont{
        justify-content: center;
    } 
    .ong{
        font-size: 35px;
    }
    .chap{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1470px) {
    .cont{
        flex-direction: column;
        justify-content: center;
    } 

}